.title {
	font-family: sans-serif;
	text-align: right;
	font-size: 40pt;
	padding-top: 200px;
	color: rgb(8,96,168);
}

.version {
	text-align: right;
	font-size: 20pt;
	font-weight: normal;
	padding-top: 100px;
}

.pagebreak {
	page-break-before: always;
}

body {
	counter-reset: h1counter;
}

h1:before {
	content: counter(h1counter) ". "
}

h1 {
	font-family: sans-serif;
	font-size: 25pt;
	font-weight: bold;
	padding: 0;
	margin: 30px 0;
	color: rgb(8,96,168);
	page-break-after: avoid;
	
	counter-increment: h1counter;
	counter-reset: h2counter;
}

h2 {
	font-family: sans-serif;
	font-size: 15pt;
	font-weight: bold;
	color: rgb(8,96,168);
	padding: 0;
	margin: 30px 0 0 0;
	page-break-after: avoid;
	
	counter-increment: h2counter;
	counter-reset: h3counter;
}

h3:before {
	content: "Rule " counter(h1counter) "." counter(h2counter) "." counter(h3counter);
}

h3 {
	display: inline-block;
	font-family: sans-serif;
	font-weight: bold;
	margin: 25px 0 5px 0;
	padding: 0 10px;
	background: #eee;
	font-size: 12pt;
	border: 1px solid gray;
	border-radius: 5px;
	color: #333;

	counter-increment: h3counter;
}

p {
	font-family: sans-serif;
	font-size: 12pt;
	margin: 0;
	padding: 0 0 5px 0;
}

code {
	font-family: mono;
	font-size: 14px;
	font-width: normal;
	background: #f4f4f4;
	padding: 0 3px;
}

pre
{
	background: #f4f4f4;
	padding: 3px;
}

pre>code
{
	padding: 0;
}


